<!--This is the homepage-->
<!--Author: Aritra Roy
     Student ID: 301176508-->
<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This website is a portfolio sample for free.</p>
  </body>
  
</html>
<%- include partials/footer.ejs %>