<!--This is the projects page-->
<!--Author: Aritra Roy
     Student ID: 301176508-->
     <%- include partials/header.ejs %>
  <body>
 
    <h1><%= title %></h1>
    <div class="container">
    <div class="rows">
      <div class="col-lg-12">
      <img style="float: right;" height="200px" width="350px" src="/assets/1.jpg">
      <h2>Project 1</h2>
      <p>Discussion forum.</p>
      <p>An online discussion forum using HTML,CSS,bootstrap and PHP.</p>
      <br />
      <br />
      <br />
      <br />
      </div>
    </div>  
    <div class="rows">
      <div class="col-lg-12">
        <img style="float: right;" height="200px" width="350px" src="/assets/2.jpg">
        <h2>Project 2</h2>
    <p>Face recognition using raspberry pi.</p>
    <p>A computer vision technology to train and recognize faces.</p>
    <br />
      <br />
      <br />
      <br />
    </div>
    </div>
    <div class="rows">
      <div class="col-lg-12">
        <img style="float: right;" height="200px" width="350px" src="/assets/3.jpg">
    <h2>Project 3</h2>
    <p>Design and developement of drone using deep learning.</p>
    <p>Building a DIY drone with integrated raspberry pi for surveillance and obstacle detection.</p>
     </div>
     </div>
  </div>
  </body>
</html>
<%- include partials/footer.ejs %>
