<!--This is the about page-->
<!--Author: Aritra Roy
     Student ID: 301176508-->
     <%- include partials/header.ejs %>
 
    <h1><%= title %></h1>
    <p>Name : Aritra Roy</p><img style="float: right;" height="200px" width="200px" src="/assets/photo.jpeg">
    <p>I am a developer in web and android application. I have also done a project in Machine learning.</p>
    <p><a href="/assets/CV.pdf">CLICK TO DOWNLOAD MY RESUME</a></p>
    

  </body>
</html>
<%- include partials/footer.ejs %>

