<!--This is the services page-->
<!--Author: Aritra Roy
     Student ID: 301176508-->
     <%- include partials/header.ejs %>
 
    <h1><%= title %></h1>
    <br />
    <img style="float: right;" height="200px" width="350px" src="/assets/web.png">
    <p>I can develop web applications.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img style="float: right;" height="200px" width="350px" src="/assets/android.jpg">
    <p>I can develop Android applications.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img style="float: right;" height="200px" width="350px" src="/assets/open.jpg">
    <p>I can implement Machine learning alogorithms like opencv.</p>
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img style="float: right;" height="200px" width="350px" src="/assets/python.jpg">
    <p>I can implement AI models to implement machine learning and AI in python.</p>   

  </body>
</html>
<%- include partials/footer.ejs %>